
.categories_manage_global_container {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-bottom: 100px;
}

.categories_manage_sub_container {
    display: flex;
    flex-direction: column;
}

.categories_manage_load_submit_global_container {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.186);
    z-index: 1;
    position: fixed;
}

.categories_manage_load_submit_container {
    width: 400px;
    height: 200px;
    display: flex;
    position: relative;
    background-color: white;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 2px 1px;
    padding: 20px;
}

.categories_manage_addBtn_adminWelcom {
    display: flex;
    justify-content: end; 
}

.categories_manage_table_container {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 15px;
    margin: 0px auto;
}

.categories_manage_table_container th {
    padding: 10px;
    background-color: rgb(241, 241, 251);
}

.categories_manage_table_container td {
    background-color: rgb(241, 241, 251);
}

.categories_manage_img_container {
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.categories_manage_btn_edit {
    display: block;
    cursor: pointer;
    margin: 0 auto;
    width: 100px;
    margin-bottom: 20px;
}

.categories_manage_btn_delete {
    display: block;
    cursor: pointer;
    margin: 0 auto;
    width: 100px;
    background-color: rgb(180, 59, 59);
    color: white;
}

.categories_manage_btn_add_categories {
    width: 200px;
    height: 40px;
    cursor: pointer;
    border: 2px solid gainsboro;
    background-color: rgba(10, 127, 10, 0.576);
    color: white;
}

.categories_manage_btn_add_categories:hover {
    background-color: rgb(111, 200, 111);
}

a {
    text-decoration: none;
}

#fa_caret_left {
    cursor: pointer;
}

#fa_caret_right {
    cursor: pointer;
}

.items-center {
    margin-top: 0 auto;
    width: 300px;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.pagination-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 12px;
    margin: 0 4px;
    border-radius: 4px;
    cursor: pointer;
}

.pagination-button.current-page {
    background-color: #28a745; /* Green background color for current page */
}

.pagination-button:hover {
    background-color: #0056b3;
}

.pagination-bar {
    justify-content: center;
}

.categories_manage_kpi_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories_manage_categ_form_container {
    text-align: right;
    width: 80%;
    display: flex;
}

.categories_manage_categ_input {
    height: 40px;
    width: 70%;
    padding: 5px;
}

.categories_manage_categ_btn {
    width: 30%;
    height: 40px;
    cursor: pointer;
    margin-left: 5px;
}

.categories_manage_success_icon {
    width: 2em;
    height: 2em;
}

.categories_manage_close_icon {
    width: 2em;
    height: 2em;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.categories_manage_close_icon:hover {
    transform: scale(1.2);
}
  
.categories_manage_icon path {
    fill: #4691f6;
}


.categories_manage_forbid_delete {
    font-size: 12px;
    color: red;
}

.categories_manage_categ_delete_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 150px;
}

.categories_manage_categ_delete_btn_container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 120px;
}

.categories_manage_categ_delete_btn_msg {
    font-size: 14px;
}

.categories_manage_categ_delete_btn {
    width: 120px;
    height: 40px;
    margin: 8px;
    cursor: pointer;
}

.categories_manage_categ_add_btn_container {
    text-align: right;
}

.categories_manage_categ_add_btn {
    width: 150px;
    height: 40px;
    cursor: pointer;
}


/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
    width: 1.1em;
    height: 1.1em;
    margin-left: 20px;
    cursor: pointer;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #4691f6;
  }
  
  .svg-icon circle {
    stroke: #4691f6;
    stroke-width: 1;
  }


.categories_manage_icons_container {
    height: 40px;
}