.favories_fav_products_container {
    width: 90%;
    margin: 0 auto;
    margin-top: 150px;
}

.favories_fav_recipes_container {
    width: 90%;
    margin: 50px auto;
}

.favories_title {
    text-align: left;
    margin-bottom: 10px;
    font-size: 25px;
    font-family: "Oleo Script Swash Caps", system-ui;
    color: green;
}

.favories_back_home {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    margin: 0 auto;
    margin-top: 150px;
    background-color: rgba(0, 128, 0, 0.685);
    padding: 10px;
    text-align: right;
    color: white;
    cursor: pointer;
  }
  
  /* -----
  SVG Icons - svgicons.sparkk.fr
  ----- */
  
  .favories_back_menu_svg-icon {
    width: 2em;
    height: 2em;
  }
  
  .favories_back_menu_svg-icon path,
  .favories_back_menu_svg-icon polygon,
  .favories_back_menu_svg-icon rect {
    fill: white;
  }