.favories_fav_products_container {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}

.favories_fav_recipes_container {
    width: 90%;
    margin: 10px auto;
}

.favories_title {
    text-align: left;
    margin-bottom: 10px;
    font-size: 25px;
    font-family: "Oleo Script Swash Caps", system-ui;
    color: green;
}

.favories_back_home {
    display: flex;
    align-items: center;
    margin: 50px auto;
    margin-bottom: 20px;
    padding: 10px;
    color: green;
    cursor: pointer;
}
  
.favories_back_home a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: green;
}
  
.favories_back_home a svg {
    margin: 7px;
}


/* MEDIA QUERY */

@media only screen and (max-width: 850px) {

    .favories_title {
        font-size: 18px;
    }

    .favories_back_home {
        margin-left: 10px;
        margin-bottom: 0;
        border-radius: 20px;
      }
  
}