@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Oleo+Script&display=swap');

/* Banner */
.slides_container {
    margin: auto;
    padding-bottom: 100px;
}

/* Section */
.nutrition {
    padding-bottom: 100px;
    scrollbar-color: rgba(0, 128, 0, 0.282) rgba(0, 128, 0, 0.282);
}

/* Section */
.recettes {
    scrollbar-color: rgba(0, 128, 0, 0.282) rgba(0, 128, 0, 0.282);
}

.container_products_notes {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(144, 238, 144, 0.526);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 100;   
}

.container_recipes_notes {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(144, 238, 144, 0.526);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 100;   
}

.produits_tout_voir { 
    height: 60px;
    line-height: 30px;
    text-align: left;
    margin-bottom: 30px;
    font-size: 25px;
}

.produits_tout_voir a p {
    font-size: 1rem;
    color: #498703;
}

.recettes_tout_voir {
    height: 60px;
    line-height: 30px;
    text-align: left;
    margin-bottom: 30px;
    font-size: 25px;
}

.recettes_tout_voir a p {
    font-size: 1rem;
    color: #498703;
}


/* MOBILE VERSION */

@media only screen and (max-width: 850px) {

    .slides_container {
        margin: initial;
        margin-bottom: inherit;
        margin-top: initial;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .nutrition {
        overflow-x: scroll;
        padding-bottom: 50px;
        scrollbar-width: none; /* For Firefox */
        -ms-overflow-style: none; /* For Internet Explorer and Edge */
    }

    /*
    .nutrition::-webkit-scrollbar {
        display: none; 
    }
    */
    
    .recettes {
        margin-bottom: 0px;
        overflow-x: scroll;
        padding-bottom: 50px;
        scrollbar-width: none; /* For Firefox */
        -ms-overflow-style: none; /* For Internet Explorer and Edge */
    }

    /*
    .recettes::-webkit-scrollbar {
        display: none;
    }
    */

    .produits_tout_voir {
        padding-left: 10px;
        font-size: 20px;
    }

    .recettes_tout_voir {
        padding-left: 10px;
        font-size: 20px;
    }
    
}
