@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Oleo+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Marck+Script&family=Yanone+Kaffeesatz:wght@500&display=swap');

.shopping_product_global {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  background-color: rgba(244, 244, 244, 0.717);
  margin: 0 auto;
  padding: 100px 20px;
}

.shopping_product_container {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    justify-content: space-between;
    padding: 15px;
    width: 100%;
    margin-bottom: 10px;
}

.shopping_product_content_items {
  width: 700px;
  display: block;
  flex-direction: column;
}

.shopping_product_img {
  width: 180px;
  height: 200px;
  margin-right: 35px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.shopping_product_item {
  display: flex;
  padding: 8px;
  width: 420px;
  justify-content: space-between;
  font-size: 15px;
}

.shopping_product_item p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main_container {
  margin-top: 50px;
}

.quantity_input {
  width: 70px; 
}

.quantity_container input[type='number']::-webkit-inner-spin-button,
.quantity_container input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity_container {
  display: flex;
  justify-content: space-between;
  width: 119px;
}

.btn_confirm_quantity {
  margin: 10px;
  background-color: gainsboro;
  padding: 5px;
  border: 1px solid;
  cursor: pointer;
}

.btn_confirm_quantity:active {
  background-color: gray;
}

.shopping_no_product_add {
  width: 90%;
  height: 200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/*
.our_products_global_container {
  width: 1400px;
  margin: 0 auto;
  margin-bottom: 200px;
  background-color: white;
  background-color: rgba(0, 128, 0, 0.099);
  margin-top: 350px;
}

.our_products_global_container h1 {
  text-align: left;
  margin-bottom: 10px;
  font-size: 20px;
  color: green;
  font-family: "Petit Formal Script", cursive;
  padding: 15px;
}
*/

.shopping_continue_back {
  width: 220px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: green;
  color: white;
  cursor: pointer;
  padding: 10px;
}

.shopping_continue_back:hover {
  background-color: rgba(0, 128, 0, 0.764);
}

.shopping_total_price_and_commande {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 180px;
}


.shopping_total_price {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.shopping_commande {
  width: 100%;
  height: 40px;
  margin: 0 auto;
  background-color: rgba(14, 140, 134, 0.652);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 30px;
}

.shopping_commande:hover {
  cursor: pointer;
  background-color: rgb(4, 87, 83);
}

.product_item_name {
  color: gray;
  font-size: 24px;
  font-family:'Oleo Script';
}

.shopping_img_and_details_container {
  display: flex;
  width: 100%;
}

.shopping_fav_and_delete_container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 30px;
}

.shopping_fav_and_delete_sub_container {
  width: 60px;
  display: flex;
  justify-content: space-between;
}

.shopping_delete_icon {
  height: 18px;
  width: 18px;
  cursor: pointer;
}

.shopping_prices_container {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.shopping_back_home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  height: 30px;
  background-color: rgba(0, 128, 0, 0.685);
  padding: 18px 15px;
  text-align: right;
  color: white;
  cursor: pointer;
  border-radius: 20px;
  font-size: 15px;
}

.shopping_back_home:hover {
  background-color: rgba(0, 128, 0, 0.77);
}

.shopping_total_price_and_commande_global_container {
  position: relative;
}

.shopping_total_price_and_commande_container {
  flex-direction: column; 
  align-items: center;
  justify-content: space-evenly; 
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  width: 400px;
  padding: 20px;
}

.shopping_total_price_and_commande_container_fixed {
  position: sticky;
  top: 0;
  right: 0;
}


/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.shopping_back_menu_svg-icon {
  width: 1em;
  height: 1em;
}

.shopping_back_menu_svg-icon path,
.shopping_back_menu_svg-icon polygon,
.shopping_back_menu_svg-icon rect {
  fill: white;
}

.shopping_details_back_home {
  display: flex;
  align-items: center;
  margin: 50px auto;
  margin-bottom: 20px;
  padding: 10px;
  color: green;
  cursor: pointer;
}

.shopping_details_back_home a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: green;
}

.shopping_details_back_home a svg {
  margin: 7px;
}

/*--------------------------------------------*/

.shopping_svg_icon {
  width: 2em;
  height: 2em;
}

.shopping_svg_icon path,
.shopping_svg_icon polygon,
.shopping_svg_icon rect {
  fill: rgb(128, 128, 128);
}

.shopping_svg_icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}

/*-------------------------------------------*/

.shopping_svg_icon_fav_active {
  width: 2em;
  height: 2em;
}

.shopping_svg_icon_fav_active path,
.shopping_svg_icon_fav_active polygon,
.shopping_svg_icon_fav_active rect {
  fill: lightseagreen;
}

.shopping_svg_icon_fav_active circle {
  stroke: #4691f6;
  stroke-width: 1;
}

/*----------------------------------------*/

.shopping_svg_icon_cart {
  width: 3em;
  height: 3em;
}

.shopping_svg_icon_cart path,
.shopping_svg_icon_cart polygon,
.shopping_svg_icon_cart rect {
  fill: gainsboro;
}

.shopping_svg_icon_cart circle {
  stroke: #4691f6;
  stroke-width: 1;
}


/* MEDIA QUERY */

@media only screen and (max-width: 1282px) {

  .shopping_total_price_and_commande_global_container {
    width: 700px;
  }

  .shopping_total_price_and_commande_container {
    width: 100%;
  }

}

@media only screen and (max-width: 850px) {

  .shopping_total_price_and_commande_global_container {
    width: 100%;
  }

  .shopping_img_and_details_container {
    flex-direction: column;
  }

  .shopping_product_item {
    width: 100%;
    justify-content: space-between;
  }
  
  .shopping_prices_container {
    width: 100%;
  }

  .shopping_total_price {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  .shopping_product_img {
    width: 100%;
    height: 200px;
    margin-right: 35px;
  }

  .shopping_details_back_home {
    margin-left: 10px;
    margin-bottom: 0;
    border-radius: 20px;
  }

  .shopping_product_content_items {
    width: 100%;
  }


}