
/* PRODUCTS DETAILS SECTION */

.details_global_container {
    margin-top: 50px;
}

.details_parent_container {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 20px auto;
    margin-bottom: 100px;
    padding: 50px;
}

.details_img_container {
    height: 500px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
    position: relative;
    background-color: white;
}

.details_img_rows_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
    padding: 10px;
    position: relative;
}

#details_right_arrow {
    rotate: 90deg;   
}

#details_left_arrow {
    rotate: -90deg;    
}

#details_right_arrow, #details_left_arrow {
    font-size: 25px;
    cursor: pointer;
    color: rgba(128, 128, 128, 0.777);
}


#details_right_arrow:hover, #details_left_arrow:hover {
    color: gray;
} 

.details_shopping_add_btn, .details_shopping_command_btn {
    padding: 15px;
    width: 48%;
    height: 50px;
    background-color: lightseagreen;
    color: white;
    border: none;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.details_info_container {
    height: 600px;
    width: 100%;
    display: flex;
    text-align: left;
    justify-content: space-around;
}

.details_side_img_sub_container {
    width: 100%;
    height: 600px;
    border: 1px solid gainsboro;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    overflow-y: scroll;
}

.details_side_img {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.details_sideImg_image_parent_container {
    width: 60%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    
}


.details_sideImg_img {
    width: 90%;
    height: 200px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.details_sideImg_img_active {
    width: 90%;
    height: 200px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    border: 1px solid green;
}


.details_sideImg_img_container {
    display: flex;
    width: 30%;
    margin-right: 10px;
}

.details_price_quantity_container {
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

.details_price_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    height: 60px;
}

.details_price_label {
    text-align: left;
}

.details_price {
    width: 80%;
    text-align: left;
    font-size: 19px;
    font-family: "Lato", serif;
  font-weight: 400;
  font-style: normal;
    color: rgb(78, 77, 77);
}

.details_name {
    font-size: 25px;
    font-family:'Oleo Script';
    color: rgb(78, 77, 77);
    text-align: left;
}

.right_arrow_disabled {
    opacity: 0.5;
    pointer-events: none;
}
  
.details_product_details {
    width: 300px;
    line-height: 30px;
    text-align: justify;
}

.details_reviews_name {
    margin-bottom: 10px;
    font-weight: bold;
}

.details_product_details_parent_container {
    width: 100%;
    text-align: left;
    line-height: 20px;
    font-size: 15px;
    text-align: justify;
}

.details_comment_form {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 128, 0, 0.433);
    top: 0;
    position: fixed;
    z-index:1;
}

.details_comment_and_notes_container {
    height: 400px;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 20px auto;
    align-items: center;
    background-color: rgba(244, 244, 244, 0.717);
    padding: 15px;
}

.details_comment_and_notes_sub_container {
    width: 100%;
}

.details_shopping_add_favorite_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.details_quantity_container {
    width: 70%;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.details_quantity_label {
    text-align: left;
}

.details_quantity {
    width: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.details_quantity input{
    width: 100px;
    height: 30px;
    padding-left: 5px;
    border: 1px solid gray;
}

.details_quantity button{
    height: 30px;
    width: 30px;
    background-color: lightseagreen;
    border: 1px solid gray;
    font-size: 18px;
    color: white;
}

.details_info_sub_container {
    width: 35%;
    height: 600px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* COMMENTS LINE/BTN SECTION */

.details_line_between_products_comments { 
    height: 1px;
    width: 100%;
    margin: 0 auto;
    background-color: gainsboro;
}

.details_comments_write_reviews_button_global_container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.details_comments_write_reviews_button_parent_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
}


.details_comments_title {
    text-align: left;
    font-size: 15px;
    margin-top: 10px;
    color: gray;
}

.details_write_reviews_btn {
    height: 40px;
    margin-top: 15px;
    border-radius: 5px;
    background-color: rgb(141, 211, 141);
    border: none;
    padding: 10px;
    cursor: pointer;
}


/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.details_fav_svg_icon {
    width: 2em;
    height: 2em;
}
  
.details_fav_svg_icon path,
.details_fav_svg_icon polygon,
.details_fav_svg_icon rect {
    fill: rgb(78, 77, 77);
}

.details_home_back {
    font-size: 18px;
    text-align: left;
}

.details_back_home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 10px;
    text-align: right;
    color: green;
    cursor: pointer;
    float: inline-start;
}

.details_back_home a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: green;
}

.details_back_home a svg {
    margin: 7px;
}

.details_description_title_container {
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}

.details_description_title {
    text-align: left;
    font-size: 18px;
    color: gray;
}

.details_img_row_fav_icon {
    display: flex;
    flex-direction: column;
    width: 80%;
    border: 1px solid gainsboro;
}

.details_fav_svg_icon_container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;
    padding-right: 15px;
}

.details_description_global_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* MEDIA QUERY */

@media only screen and (max-width: 850px) {

    .details_sideImg_img_container {
        width: 100%;
        order: 1;
    }

    .details_side_img_sub_container {
      width: 100%;
      height: 100px;
      padding: 10px;
      overflow-x: scroll;
      border: none;
    }

    .details_parent_container {
        flex-wrap: wrap;
        padding: 20px;
        background-color: white;
        gap: 10px;
    }

    .details_img_container {
        height: 250px;
        width: 100%;
        border: none;
    }
    
    .details_info_sub_container {
        margin-left: initial;
        width: 100%;
        gap: 50px;
    }

    .details_price {
        width: 100%;
    }

    .details_shopping_add_favorite_container {
        width: 100%;
    }
    
    .details_side_img {
        flex-direction: row;
    }

    .details_sideImg_img, .details_sideImg_img_active{
        width: 70px;
        height: 70px;
    }
    
    .details_sideImg_image_parent_container {
        flex-direction: column;
        width: 100%;
        justify-content: initial;
        height: initial;
    }

    .details_img_rows_container {
        width: 100%;
        border: none;
    }
    
    .details_back_home {
        margin-left: 10px;
        margin-bottom: 0;
        border-radius: 20px;
    }

    .details_img_row_fav_icon {
        width: 100%;
    }

    .details_product_details_parent_container {
        line-height: 30px;
    }

}