.user_inscription_form_global_container { 
    width: 400px;
    margin: 100px auto;
    margin-bottom: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}

.user_inscription_form_title {
    margin: 20px;
    font-weight: bold;
}

.user_inscription_form_container {
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
    position: relative;
}

.user_inscription_inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user_inscription_inputs input {
    height: 50px;
    padding: 20px;
    border-radius: 30px;
    border: 1px solid gainsboro;
}

.user_inscription_inputs input::placeholder {
    color: rgb(105, 104, 104);
}

.user_inscription_submit_btn {
    margin-top: 30px;
}

.user_inscription_submit_btn input[type = 'submit'] {
    background-color: #498703;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 200px;
    height: 40px;
}

.user_inscription_submit_btn input[type = 'submit']:hover {
    background-color: green;
}


.user_inscription_sucess {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgreen;
    color: green;
    position: absolute;
    bottom: -80px;
    transition: 0.5s;
}

.user_inscription_connect {
    text-align: center;
    font-size: 13px;
}

.user_inscription_submit_btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.user_inscription_submit_btn span a {
    color: green;
}

.user_inscription_error {
    font-size: 12px;
    color: red;
    margin-top: 8px;
}


/* MEDIA QUERY */
@media only screen and (max-width: 850px) {

    .user_inscription_form_global_container {
        width: 90%;
        box-shadow: none;
        border: 1px solid gainsboro;
    }

}